html {
  block-size: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
.container1 {
  max-width: 1110px;
  margin: 0 auto;
}
:root {
  --accent-color: #f7654a;
  --dark-color: #404149;
  --gray-color: #999999;
  --white-color: #ffffff;
  --background-color: #e5e5e5;
}

.text-h2 {
  font-family: "Oswald ", sans-serif;
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
}
.text-h3 {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.text-h4 {
  font-family: "Oswald ", sans-serif;
  font-size: 21px;
  font-weight: 500;
}
.text-p {
  font-family: "Open Sans ", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.text-p-reviews {
  font-family: "Open Sans ", sans-serif;
  font-size: 14px;
  line-height: 21px;
}
.header {
  min-width: 100%;
  min-height: 740px;
  background-image: url(../img/Rectangle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header_title {
  padding-top: 20px;
  margin-bottom: 112px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.logo {
  width: 60px;
  height: 60px;
}
.burger {
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 0;
  background-color: var(--accent-color);
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.burger_line {
  display: block;
  width: 21px;
  height: 3px;
  background-color: #ffffff;
  margin-bottom: 4px;
}
.burger_line:last-child {
  margin-bottom: 0;
}
.h1 {
  font-weight: 500;
  font-size: 64px;
  line-height: 95px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  max-width: 734px;
  margin: 0 auto 17px;
  color: var(--white-color);
}
.h4 {
  margin: 0 auto;
  font-weight: 400;
  max-width: 734px;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--white-color);
}

.about {
  padding: 150px;
  min-height: 681px;
  position: relative;
}
.info {
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1110px;
  min-height: 300px;
  width: 100%;
  /* padding: 50px 130px; */
  background-color: #f7f7f7;
}
.about_grid {
  padding: 55px 0 0 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
}
.about_grid-itrem {
  text-align: center;
  width: 190px;
}
.about_h4 {
  color: var(--accent-color);
  font-size: 72px;
  font-weight: 500;
  text-transform: uppercase;
  margin: bottom 5px;
}
.about_h5 {
  color: #000;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
}
.about_p {
  color: var(--gray-color);
  font-size: 18px;
  font-weight: 500;
}

.about_flex {
  display: flex;
}
.about_flex-item {
  max-width: 350px;
  margin-right: 30px;
}
.about_flex-item:last-child {
  margin-right: 0;
}

.project-h2 {
  text-align: center;
  margin-bottom: 50px;
}

.project-img {
  margin-bottom: 45px;
}
.rectangle {
  width: 56px;
  height: 6px;
  background-color: var(--accent-color);
  margin-bottom: 15px;
}
.project-h3 {
  color: var(--dark-color);
  margin-bottom: 20px;
}

.project-p {
  color: var(--gray-color);
}

@media screen and (max-width: 1280px) {
  .about {
    padding: 450px 15px 110px 15px;
  }
}
@media screen and (max-width: 768px) {
  .about {
    padding-top: 150px;
    padding-bottom: 80px;
  }
  .about_flex {
    flex-direction: column;
    align-items: center;
  }
  .about_flex-item {
    mask-repeat: 0;
    margin-bottom:;
  }
  .about_flex-item:last-child {
    margin-bottom: 0;
  }
}
.request {
  background-color: var(--accent-color);
  padding-top: 30px;
  padding-bottom: 40px;
}
.request_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.request_flex-left {
  color: var(--white-color);
}
.request_h4 {
  /* РЕАЛИЗУЕМ САМЫЕ СМЕЛЫЕ РЕШЕНИЯ В РОССИИ! */
  font-weight: bold;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 71px;
  letter-spacing: 0.02em;
  margin-bottom: 7px;
  color: #ffffff;
}
.request_h5 {
  margin: 0 avto;
}
.request_flex-right {
  margin: 0 avto;
}
.request_btn {
  margin: 0 avto;
}
.request_icon {
  margin: 0 avto;
}
