html,
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  /* display: block; */
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

.container1 {
  max-width: 1110px;
  margin: 0 auto;
}

:root {
  --accent-color: #f7654a;
  --dark-color: #404149;
  --gray-color: #999999;
  --white-color: #ffffff;
  --background-color: #e5e5e5;
}

.text-h2 {
  font-family: "Oswald ", sans-serif;
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
}

.text-h3 {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.text-h4 {
  font-family: "Oswald ", sans-serif;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.text-p {
  font-family: "Open Sans ", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.text-p-reviews {
  font-family: "Open Sans ", sans-serif;
  font-size: 14px;
  line-height: 21px;
}

.header {
  width: 100%;
  min-height: 740px;
  background-image: url(../img/Rectangle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header_title {
  padding-top: 20px;
  margin-bottom: 112px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  width: 60px;
  height: 60px;
}

.burger {
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 0;
  background-color: var(--accent-color);
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.burger_line {
  display: block;
  width: 21px;
  height: 3px;
  background-color: #ffffff;
  margin-bottom: 4px;
}

.burger_line:last-child {
  margin-bottom: 0;
}

.h1 {
  font-weight: 500;
  font-size: 64px;
  line-height: 95px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  max-width: 734px;
  margin: 0 auto 17px;
  color: var(--white-color);
}

.h4 {
  margin: 0 auto;
  font-weight: 400;
  max-width: 734px;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--white-color);
}

/* about  */
.about {
  padding-top: 250px;
  min-height: 1080px;
  position: relative;
}

.info {
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1110px;
  min-height: 300px;
  width: 100%;
  padding: 50px 130px;
  background-color: #f7f7f7;
}

.about_grid {
  padding: 55px 0 0 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
}

.about_grid-itrem {
  text-align: center;
  width: 190px;
}

.about_h4 {
  color: var(--accent-color);
  font-size: 72px;
  font-weight: 500;
  text-transform: uppercase;
  margin: bottom 5px;
}

.about_h5 {
  color: #000;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
}

.about_p {
  color: var(--gray-color);
  font-size: 18px;
  font-weight: 500;
}

.about_flex {
  display: flex;
}

.about_flex-item {
  max-width: 350px;
  margin-right: 30px;
}

.about_flex-item:last-child {
  margin-right: 0;
}

.project-h2 {
  text-align: center;
  margin-top: 105px;
  margin-bottom: 60px;
}

.project-img {
  margin-bottom: 45px;
}

.rectangle {
  width: 56px;
  height: 6px;
  background-color: var(--accent-color);
  margin-bottom: 15px;
}

.project-h3 {
  color: var(--dark-color);
  margin-bottom: 20px;
}

.project-p {
  color: var(--gray-color);
}

.request {
  background-color: var(--accent-color);
  padding-top: 30px;
  padding-bottom: 40px;
}

.request_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.request_flex-left {
  color: var(--white-color);
}

.request_h4 {
  /* РЕАЛИЗУЕМ САМЫЕ СМЕЛЫЕ РЕШЕНИЯ В РОССИИ! */
  font-weight: bold;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 71px;
  letter-spacing: 0.02em;
  margin-bottom: 7px;
  color: #ffffff;
}

.request_h5 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 0.02em;
}

.request_flex-right {
  margin: 0 avto;
}

.request_btn {
  margin-top: 20px;
  border: none;
  background-color: #fff;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.05em;
  padding: 14px 30px;
}

.request_icon {
  margin-right: 15px;
}

/* services  */
.services {
  padding: 150px 0;
}

.section_h2,
.services_h4 {
  color: #000;
  text-align: center;
}

.section_h2 {
  text-align: center;
  margin-bottom: 55px;
}

.services_h4 {
  margin: 0 auto;
  text-transform: uppercase;
}

.services_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
}

.services_grid-item {
  padding: 59px 0;
  background-color: #f7f7f7;
  width: 350px;
  text-align: center;
  margin: 0 auto;
}

.services_icon {
  margin: 0 avto 30px;
}

/* portfolio */

.portfolio_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 0;
}

/* question  */
.question {
  margin-top: 150px;
  padding-bottom: 150px;
}

.question .section_h2 {
  margin-bottom: 50px;
}

.question_h3 {
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.question_h3.open::before,
.question_h3.close::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../img/Polygon.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 14px;
}

.question_h3.open::before {
  transform: rotate(-90deg);
}

.question_p {
  margin-bottom: 40px;
  color: var(--gray-color);
  max-width: 730px;
}

.question_h3.close + .question_p {
  display: none;
}

.question_h3.close {
  margin-bottom: 33px;
}

/* НАЧАЛО partners */
.partners {
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: var(--dark-color);
}

.partners_h2 {
  color: var(--white-color);
  text-align: center;
  margin-bottom: 60px;
}

.partners_flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.partners_item {
  margin-right: 40px;
  margin-bottom: 20px;
  max-width: 170px;
}

.partners_item:nth-child(5n) {
  margin-right: 0;
}
/* КОНЕЦ: partners */

/* reviews */
.reviews {
  padding: 150px 0;
}

.reviews_h2 {
  text-align: center;
  margin-bottom: 60px;
}

.reviews_grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.reviews_card {
  background-color: #f7f7f7;
  padding: 30px;
  margin-bottom: 30px;
}

.reviews_quotes {
  font-size: 96px;
  color: var(--accent-color);
  line-height: 1;
  margin-bottom: -40px;
}

.reviews_author-accent {
  color: var(--accent-color);
}

/* contacts */
.contacts {
  padding: 100px 0 150px;
}

.contacts_h2 {
  text-align: center;
  margin-bottom: 60px;
}

.contacts_grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.contacts_item {
  max-width: 250px;
  text-align: center;
}

.contacts_icon {
  width: 50px;
  height: 50px;
  margin: 0 auto 15px;
}

.contacts_h3 {
  text-transform: uppercase;
}

.contacts_h3-gray {
  color: var(--gray-color);
  margin-bottom: 25px;
}

.contacts_h3-accent {
  color: var(--accent-color);
}

.footer_copyright {
  margin: 0 avto;
}

/* contacts */

/* footer */
.footer {
  padding: 30px 0;
  background-color: var(--dark-color);
  color: var(--white-color);
}

.footer_flex {
  display: flex;
  justify-content: space-between;
}

/* footer */

/* @media  */
@media screen and (max-width: 1280px) {
  .about {
    padding: 450px 15px 110px 15px;
  }

  .about_grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .request {
    padding-left: 15px;
    padding-right: 15px;
  }

  .services {
    padding-left: 15px;
    padding-right: 15px;
  }

  .services_grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .services_grid-item {
    width: 100%;
  }

  .portfolio_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .question {
    padding: 150px 15px 110px;
  }

  .partners_flex {
    justify-content: center;
  }

  .partners_item {
    margin-right: 10px;
    margin-left: 10px;
  }

  .partners_item:nth-child(5n) {
    margin-right: 10px;
    margin-left: 10px;
  }

  .reviews {
    padding: 100px 15px;
  }

  .reviews_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .contacts_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer {
    padding: 30px 15px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    padding-top: 150px;
    padding-bottom: 80px;
  }

  .info {
    position: relative;
    padding: 30px 0;
  }

  .about_grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .about_flex {
    flex-direction: column;
    align-items: center;
  }

  .about_flex-item {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .about_flex-item:last-child {
    margin-bottom: 0;
  }

  .request_flex {
    flex-wrap: wrap;
  }

  .services_grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .reviews_grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .contacts_grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer_flex {
    flex-direction: column;
  }
}

@media screen and (max-width: 380px) {
  .h1 {
    font-size: 46px;
    line-height: 64px;
  }

  .portfolio_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* @media  */
