/* clients */

position: absolute;
width: 1110px;
height: 120px;
left: 405px;
top: 4026px;

/* Rectangle 9 */

position: absolute;
width: 255px;
height: 120px;
left: 405px;
top: 4026px;

background: url(microsoft_PNG10);

/* Rectangle 9.1 */

position: absolute;
width: 255px;
height: 120px;
left: 690px;
top: 4026px;

background: url(microsoft_PNG10);

/* Rectangle 9.2 */

position: absolute;
width: 255px;
height: 120px;
left: 975px;
top: 4026px;

background: url(microsoft_PNG10);

/* Rectangle 9.3 */

position: absolute;
width: 255px;
height: 120px;
left: 1260px;
top: 4026px;

background: url(microsoft_PNG10);
/*  */
/*  */
