/* first-screen */

position: absolute;
width: 1920px;
height: 700px;
left: 0px;
top: -7px;

/* Rectangle */

position: absolute;
width: 1920px;
height: 700px;
left: 0px;
top: -7px;

background: #eeeff1;

/* Frame */

position: absolute;
width: 357px;
height: 233.7px;
left: 487px;
top: 271px;

/* Group */

position: absolute;
left: 4.62%;
right: 3.39%;
top: 0%;
bottom: 3.55%;

/* Vector */

position: absolute;
left: 4.62%;
right: 3.39%;
top: 0%;
bottom: 3.55%;

background: #00d5e4;

/* Group */

position: absolute;
left: 7.73%;
right: 6.5%;
top: 3.29%;
bottom: 6.8%;

/* Vector */

position: absolute;
left: 7.73%;
right: 6.5%;
top: 3.29%;
bottom: 6.8%;

background: #065090;

/* Group */

position: absolute;
left: 12.83%;
right: 10.56%;
top: 12.37%;
bottom: 11.13%;

/* Group */

position: absolute;
left: 21.12%;
right: 67.62%;
top: 12.37%;
bottom: 85.71%;

/* Vector */

position: absolute;
left: 21.12%;
right: 67.62%;
top: 12.37%;
bottom: 85.71%;

background: #fcfdfd;

/* Group */

position: absolute;
left: 21.12%;
right: 71.71%;
top: 16.65%;
bottom: 81.43%;

/* Vector */

position: absolute;
left: 21.12%;
right: 71.71%;
top: 16.65%;
bottom: 81.43%;

background: #fcfdfd;

/* Group */

position: absolute;
left: 32.32%;
right: 38.8%;
top: 16.65%;
bottom: 81.43%;

/* Vector */

position: absolute;
left: 32.32%;
right: 38.8%;
top: 16.65%;
bottom: 81.43%;

background: #fcfdfd;

/* Group */

position: absolute;
left: 64.01%;
right: 20.87%;
top: 16.65%;
bottom: 81.43%;

/* Vector */

position: absolute;
left: 64.01%;
right: 20.87%;
top: 16.65%;
bottom: 81.43%;

background: #ff6452;

/* Group */

position: absolute;
left: 23.92%;
right: 57.84%;
top: 20.92%;
bottom: 77.15%;

/* Vector */

position: absolute;
left: 23.92%;
right: 57.84%;
top: 20.92%;
bottom: 77.15%;

background: #00d050;

/* Group */

position: absolute;
left: 47.76%;
right: 25.07%;
top: 20.92%;
bottom: 77.15%;

/* Vector */

position: absolute;
left: 47.76%;
right: 25.07%;
top: 20.92%;
bottom: 77.15%;

background: #fcfdfd;

/* Group */

position: absolute;
left: 21.12%;
right: 53.22%;
top: 25.2%;
bottom: 72.87%;

/* Vector */

position: absolute;
left: 21.12%;
right: 53.22%;
top: 25.2%;
bottom: 72.87%;

background: #ff6452;

/* Group */

position: absolute;
left: 49.13%;
right: 32.63%;
top: 25.2%;
bottom: 72.87%;

/* Vector */

position: absolute;
left: 49.13%;
right: 32.63%;
top: 25.2%;
bottom: 72.87%;

background: #00d5e4;

/* Group */

position: absolute;
left: 23.92%;
right: 57.84%;
top: 29.48%;
bottom: 68.59%;

/* Vector */

position: absolute;
left: 23.92%;
right: 57.84%;
top: 29.48%;
bottom: 68.59%;

background: #fcfdfd;

/* Group */

position: absolute;
left: 21.12%;
right: 52.24%;
top: 33.76%;
bottom: 64.31%;

/* Vector */

position: absolute;
left: 21.12%;
right: 52.24%;
top: 33.76%;
bottom: 64.31%;

background: #fcfdfd;

/* Group */

position: absolute;
left: 21.12%;
right: 60.64%;
top: 38.04%;
bottom: 60.03%;

/* Vector */

position: absolute;
left: 21.12%;
right: 60.64%;
top: 38.04%;
bottom: 60.03%;

background: #fcfdfd;

/* Group */

position: absolute;
left: 26.72%;
right: 42.86%;
top: 42.32%;
bottom: 55.76%;

/* Vector */

position: absolute;
left: 26.72%;
right: 42.86%;
top: 42.32%;
bottom: 55.76%;

background: #ff6452;

/* Group */

position: absolute;
left: 60.34%;
right: 29.83%;
top: 42.32%;
bottom: 55.76%;

/* Vector */

position: absolute;
left: 60.34%;
right: 29.83%;
top: 42.32%;
bottom: 55.76%;

background: #fcfdfd;

/* Group */

position: absolute;
left: 74.34%;
right: 15.83%;
top: 42.32%;
bottom: 55.76%;

/* Vector */

position: absolute;
left: 74.34%;
right: 15.83%;
top: 42.32%;
bottom: 55.76%;

background: #fcfdfd;

/* Group */

position: absolute;
left: 29.52%;
right: 58.07%;
top: 46.6%;
bottom: 51.48%;

/* Vector */

position: absolute;
left: 29.52%;
right: 58.07%;
top: 46.6%;
bottom: 51.48%;

background: #fcfdfd;

/* Group */

position: absolute;
left: 29.52%;
right: 53.92%;
top: 50.88%;
bottom: 47.2%;

/* Vector */

position: absolute;
left: 29.52%;
right: 53.92%;
top: 50.88%;
bottom: 47.2%;

background: #ff6452;

/* Group */

position: absolute;
left: 51.93%;
right: 29.83%;
top: 50.88%;
bottom: 47.2%;

/* Vector */

position: absolute;
left: 51.93%;
right: 29.83%;
top: 50.88%;
bottom: 47.2%;

background: #fcfdfd;

/* Group */

position: absolute;
left: 74.34%;
right: 18.07%;
top: 50.88%;
bottom: 47.2%;

/* Vector */

position: absolute;
left: 74.34%;
right: 18.07%;
top: 50.88%;
bottom: 47.2%;

background: #ff6452;

/* Group */

position: absolute;
left: 21.12%;
right: 67.68%;
top: 55.16%;
bottom: 42.92%;

/* Vector */

position: absolute;
left: 21.12%;
right: 67.68%;
top: 55.16%;
bottom: 42.92%;

background: #fcfdfd;

/* Group */

position: absolute;
left: 21.12%;
right: 60.64%;
top: 59.44%;
bottom: 38.64%;

/* Vector */

position: absolute;
left: 21.12%;
right: 60.64%;
top: 59.44%;
bottom: 38.64%;

background: #fcfdfd;

/* Group */

position: absolute;
left: 29.52%;
right: 37.39%;
top: 63.71%;
bottom: 34.36%;

/* Vector */

position: absolute;
left: 29.52%;
right: 37.39%;
top: 63.71%;
bottom: 34.36%;

background: #fcfdfd;

/* Group */

position: absolute;
left: 65.94%;
right: 13.59%;
top: 63.71%;
bottom: 34.36%;

/* Vector */

position: absolute;
left: 65.94%;
right: 13.59%;
top: 63.71%;
bottom: 34.36%;

background: #00d5e4;

/* Group */

position: absolute;
left: 29.52%;
right: 59.24%;
top: 67.99%;
bottom: 30.08%;

/* Vector */

position: absolute;
left: 29.52%;
right: 59.24%;
top: 67.99%;
bottom: 30.08%;

background: #fcfdfd;

/* Group */

position: absolute;
left: 43.53%;
right: 45.24%;
top: 67.99%;
bottom: 30.08%;

/* Vector */

position: absolute;
left: 43.53%;
right: 45.24%;
top: 67.99%;
bottom: 30.08%;

background: #00d050;

/* Group */

position: absolute;
left: 57.54%;
right: 31.23%;
top: 67.99%;
bottom: 30.08%;

/* Vector */

position: absolute;
left: 57.54%;
right: 31.23%;
top: 67.99%;
bottom: 30.08%;

background: #fcfdfd;

/* Group */

position: absolute;
left: 21.12%;
right: 60.64%;
top: 72.27%;
bottom: 25.8%;

/* Vector */

position: absolute;
left: 21.12%;
right: 60.64%;
top: 72.27%;
bottom: 25.8%;

background: #fcfdfd;

/* Group */

position: absolute;
left: 26.72%;
right: 55.04%;
top: 76.55%;
bottom: 21.52%;

/* Vector */

position: absolute;
left: 26.72%;
right: 55.04%;
top: 76.55%;
bottom: 21.52%;

background: #00d050;

/* Group */

position: absolute;
left: 48.43%;
right: 33.33%;
top: 76.55%;
bottom: 21.52%;

/* Vector */

position: absolute;
left: 48.43%;
right: 33.33%;
top: 76.55%;
bottom: 21.52%;

background: #00d050;

/* Group */

position: absolute;
left: 48.04%;
right: 41.74%;
top: 85.11%;
bottom: 12.97%;

/* Vector */

position: absolute;
left: 48.04%;
right: 41.74%;
top: 85.11%;
bottom: 12.97%;

background: #fcfdfd;

/* Group */

position: absolute;
left: 26.72%;
right: 46.22%;
top: 80.83%;
bottom: 17.24%;

/* Vector */

position: absolute;
left: 26.72%;
right: 46.22%;
top: 80.83%;
bottom: 17.24%;

background: #fcfdfd;

/* Group */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 12.37%;
bottom: 12.97%;

/* Group */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 12.37%;
bottom: 85.71%;

/* Vector */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 12.37%;
bottom: 85.71%;

background: #5e94c1;

/* Group */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 16.65%;
bottom: 81.43%;

/* Vector */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 16.65%;
bottom: 81.43%;

background: #5e94c1;

/* Group */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 20.92%;
bottom: 77.15%;

/* Vector */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 20.92%;
bottom: 77.15%;

background: #5e94c1;

/* Group */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 25.2%;
bottom: 72.87%;

/* Vector */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 25.2%;
bottom: 72.87%;

background: #5e94c1;

/* Group */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 29.48%;
bottom: 68.59%;

/* Vector */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 29.48%;
bottom: 68.59%;

background: #5e94c1;

/* Group */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 33.76%;
bottom: 64.31%;

/* Vector */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 33.76%;
bottom: 64.31%;

background: #5e94c1;

/* Group */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 38.04%;
bottom: 60.03%;

/* Vector */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 38.04%;
bottom: 60.03%;

background: #5e94c1;

/* Group */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 42.32%;
bottom: 55.76%;

/* Vector */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 42.32%;
bottom: 55.76%;

background: #5e94c1;

/* Group */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 46.6%;
bottom: 51.48%;

/* Vector */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 46.6%;
bottom: 51.48%;

background: #5e94c1;

/* Group */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 50.88%;
bottom: 47.2%;

/* Vector */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 50.88%;
bottom: 47.2%;

background: #5e94c1;

/* Group */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 55.16%;
bottom: 42.92%;

/* Vector */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 55.16%;
bottom: 42.92%;

background: #5e94c1;

/* Group */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 59.44%;
bottom: 38.64%;

/* Vector */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 59.44%;
bottom: 38.64%;

background: #5e94c1;

/* Group */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 63.71%;
bottom: 34.36%;

/* Vector */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 63.71%;
bottom: 34.36%;

background: #5e94c1;

/* Group */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 67.99%;
bottom: 30.08%;

/* Vector */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 67.99%;
bottom: 30.08%;

background: #5e94c1;

/* Group */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 72.27%;
bottom: 25.8%;

/* Vector */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 72.27%;
bottom: 25.8%;

background: #5e94c1;

/* Group */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 76.55%;
bottom: 21.52%;

/* Vector */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 76.55%;
bottom: 21.52%;

background: #5e94c1;

/* Group */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 80.83%;
bottom: 17.24%;

/* Vector */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 80.83%;
bottom: 17.24%;

background: #5e94c1;

/* Group */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 85.11%;
bottom: 12.97%;

/* Vector */

position: absolute;
left: 12.83%;
right: 85.91%;
top: 85.11%;
bottom: 12.97%;

background: #5e94c1;

/* Group */

position: absolute;
left: 26.72%;
right: 59.75%;
top: 85.11%;
bottom: 12.97%;

/* Vector */

position: absolute;
left: 26.72%;
right: 59.75%;
top: 85.11%;
bottom: 12.97%;

background: #fcfdfd;

/* Group */

position: absolute;
left: 74.43%;
right: 10.56%;
top: 76.59%;
bottom: 11.13%;

/* Group */

position: absolute;
left: 74.43%;
right: 20.25%;
top: 78.65%;
bottom: 13.01%;

/* Vector */

position: absolute;
left: 74.43%;
right: 20.25%;
top: 78.65%;
bottom: 13.01%;

background: #fcfdfd;

/* Group */

position: absolute;
left: 80.39%;
right: 16.5%;
top: 76.59%;
bottom: 11.13%;

/* Vector */

position: absolute;
left: 80.39%;
right: 16.5%;
top: 76.59%;
bottom: 11.13%;

background: #fcfdfd;

/* Group */

position: absolute;
left: 84.12%;
right: 10.56%;
top: 78.69%;
bottom: 13.01%;

/* Vector */

position: absolute;
left: 84.12%;
right: 10.56%;
top: 78.69%;
bottom: 13.01%;

background: #fcfdfd;

/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 91.44%;
bottom: 0%;

/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 91.44%;
bottom: 0%;

background: #00bbd3;

/* Group */

position: absolute;
left: 7.76%;
right: 6.47%;
top: 3.25%;
bottom: 6.8%;

opacity: 0.1;

/* Group */

position: absolute;
left: 28.32%;
right: 42.86%;
top: 3.25%;
bottom: 6.8%;

opacity: 0.1;

/* Vector */

position: absolute;
left: 28.32%;
right: 42.86%;
top: 3.25%;
bottom: 6.8%;

background: #ffffff;
opacity: 0.1;

/* Group */

position: absolute;
left: 7.76%;
right: 65.49%;
top: 3.25%;
bottom: 6.8%;

opacity: 0.1;

/* Vector */

position: absolute;
left: 7.76%;
right: 65.49%;
top: 3.25%;
bottom: 6.8%;

background: #ffffff;
opacity: 0.1;

/* Group */

position: absolute;
left: 80.56%;
right: 6.47%;
top: 37.4%;
bottom: 6.8%;

opacity: 0.1;

/* Vector */

position: absolute;
left: 80.56%;
right: 6.47%;
top: 37.4%;
bottom: 6.8%;

background: #ffffff;
opacity: 0.1;

/* Group */

position: absolute;
left: 51.62%;
right: 12.94%;
top: 3.25%;
bottom: 6.8%;

opacity: 0.1;

/* Group */

position: absolute;
left: 51.62%;
right: 12.94%;
top: 3.25%;
bottom: 6.8%;

opacity: 0.1;

/* Vector */

position: absolute;
left: 51.62%;
right: 12.94%;
top: 3.25%;
bottom: 6.8%;

background: #ffffff;
opacity: 0.1;

/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 91.44%;
bottom: 4.28%;

/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 91.44%;
bottom: 4.28%;

background: #15d7e2;

/* Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. */

position: absolute;
width: 540px;
height: 67px;
left: 975px;
top: 355px;

/* p */
font-family: "Roboto";
font-style: normal;
font-size: 16px;
line-height: 26px;

color: #727272;

/* Дизайн и верстка */

position: absolute;
width: 541px;
height: 45px;
left: 974px;
top: 250px;

font-family: "Roboto";
font-style: normal;
font-size: 48px;
line-height: 79px;

color: #000000;

/* WD */

position: absolute;
width: 96px;
height: 60px;
left: 402px;
top: 50px;

font-family: "Revalia";
font-style: normal;
font-size: 48px;
line-height: 60px;
/* identical to box height */
text-align: center;

color: #34547a;

/* first-screen__menu */

position: absolute;
width: 611px;
height: 16px;
left: 896px;
top: 72px;

/* ГЛАВНАЯ */

position: absolute;
width: 84px;
height: 12px;
left: 896px;
top: 72px;

font-family: "Roboto";
font-style: normal;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.1em;

/* Accent */
color: #34547a;

/* ОБ АВТОРЕ */

position: absolute;
width: 100px;
height: 16px;
left: 1022px;
top: 72px;

font-family: "Roboto";
font-style: normal;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.1em;

color: #000000;

/* РАБОТЫ */

position: absolute;
width: 74px;
height: 16px;
left: 1164px;
top: 72px;

font-family: "Roboto";
font-style: normal;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.1em;

color: #000000;

/* ПРОЦЕСС */

position: absolute;
width: 86px;
height: 16px;
left: 1280px;
top: 72px;

font-family: "Roboto";
font-style: normal;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.1em;

color: #000000;

/* КОНТАКТЫ */

position: absolute;
width: 99px;
height: 16px;
left: 1408px;
top: 72px;

font-family: "Roboto";
font-style: normal;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.1em;

color: #000000;

/* first-screen__button */

position: absolute;
width: 225px;
height: 65px;
left: 975px;
top: 482px;

/* Rectangle 2 */

position: absolute;
width: 225px;
height: 65px;
left: 975px;
top: 482px;

background: #34547a;

/* НАПИСАТЬ МНЕ */

position: absolute;
width: 143px;
height: 15px;
left: 1016px;
top: 507px;

font-family: "Roboto";
font-style: normal;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.1em;

color: #ffffff;
/*  */
