/* footer */

position: absolute;
width: 1920px;
height: 151px;
left: 0px;
top: 5008px;

/* Rectangle 12 */

position: absolute;
width: 1920px;
height: 151px;
left: 0px;
top: 5008px;

/* Accent */
background: #34547a;

/* Иванов Иван */

position: absolute;
width: 130px;
height: 19px;
left: 406px;
top: 5058px;

/* h3 */
font-family: "Roboto";
font-style: normal;
font-size: 21px;
line-height: 25px;

color: #ffffff;

/* (с) 2018. Все права защищены. */

position: absolute;
width: 193px;
height: 12px;
left: 406px;
top: 5097px;

font-family: "Roboto";
font-style: normal;
font-size: 13px;
line-height: 21px;

color: #ffffff;

/* footer__soc-buttons */

position: absolute;
width: 175px;
height: 40px;
left: 1356px;
top: 5064px;

/* vk-social-network-logo */

position: absolute;
width: 43.75px;
height: 40px;
left: 1356px;
top: 5064px;

/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 21.47%;
bottom: 21.47%;

/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 21.47%;
bottom: 21.47%;

background: #ffffff;

/* vk-social-network-logo */

position: absolute;
width: 43.75px;
height: 40px;
left: 1421.62px;
top: 5064px;

/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 21.47%;
bottom: 21.47%;

/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 21.47%;
bottom: 21.47%;

background: #ffffff;

/* vk-social-network-logo */

position: absolute;
width: 43.75px;
height: 40px;
left: 1487.25px;
top: 5064px;

/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 21.47%;
bottom: 21.47%;

/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 21.47%;
bottom: 21.47%;

background: #ffffff;
