/* numbers */

position: absolute;
width: 1920px;
height: 250px;
left: 0px;
top: 1059px;

/* Rectangle */

position: absolute;
width: 1920px;
height: 250px;
left: 0px;
top: 1059px;

/* Accent */
background: #34547a;

/* numbers__item */

position: absolute;
width: 141px;
height: 50px;
left: 405px;
top: 1159px;

/* Group */

position: absolute;
width: 71px;
height: 44px;
left: 475px;
top: 1162px;

/* 40+ */

position: absolute;
width: 36px;
height: 19px;
left: 475px;
top: 1162px;

/* h3 */
font-family: "Roboto";
font-style: normal;
font-size: 21px;
line-height: 25px;

color: #ffffff;

/* проектов */

position: absolute;
width: 71px;
height: 15px;
left: 475px;
top: 1191px;

/* p */
font-family: "Roboto";
font-style: normal;
font-size: 16px;
line-height: 26px;

color: #ffffff;

/* project */

position: absolute;
width: 50px;
height: 50px;
left: 405px;
top: 1159px;

/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Vector */

position: absolute;
left: 6.67%;
right: 0%;
top: 0%;
bottom: 0%;

background: #ffffff;

/* Vector */

position: absolute;
left: 0%;
right: 36.67%;
top: 30%;
bottom: 53.33%;

background: #ffffff;

/* Vector */

position: absolute;
left: 36.67%;
right: 10%;
top: 18.33%;
bottom: 28.33%;

background: #ffffff;

/* Vector */

position: absolute;
left: 60.81%;
right: 20%;
top: 42.48%;
bottom: 38.33%;

background: #ffffff;

/* Vector */

position: absolute;
left: 43.33%;
right: 23.33%;
top: 10%;
bottom: 86.67%;

background: #ffffff;

/* Vector */

position: absolute;
left: 38.33%;
right: 18.33%;
top: 16.67%;
bottom: 80%;

background: #ffffff;

/* Vector */

position: absolute;
left: 28.33%;
right: 61.67%;
top: 51.67%;
bottom: 45%;

background: #ffffff;

/* Vector */

position: absolute;
left: 28.33%;
right: 65%;
top: 58.33%;
bottom: 38.33%;

background: #ffffff;

/* numbers__item */

position: absolute;
width: 141px;
height: 50px;
left: 595px;
top: 1159px;

/* Group */

position: absolute;
width: 71px;
height: 44px;
left: 665px;
top: 1162px;

/* 40+ */

position: absolute;
width: 36px;
height: 19px;
left: 665px;
top: 1162px;

/* h3 */
font-family: "Roboto";
font-style: normal;
font-size: 21px;
line-height: 25px;

color: #ffffff;

/* проектов */

position: absolute;
width: 71px;
height: 15px;
left: 665px;
top: 1191px;

/* p */
font-family: "Roboto";
font-style: normal;
font-size: 16px;
line-height: 26px;

color: #ffffff;

/* project */

position: absolute;
width: 50px;
height: 50px;
left: 595px;
top: 1159px;

/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Vector */

position: absolute;
left: 6.67%;
right: 0%;
top: 0%;
bottom: 0%;

background: #ffffff;

/* Vector */

position: absolute;
left: 0%;
right: 36.67%;
top: 30%;
bottom: 53.33%;

background: #ffffff;

/* Vector */

position: absolute;
left: 36.67%;
right: 10%;
top: 18.33%;
bottom: 28.33%;

background: #ffffff;

/* Vector */

position: absolute;
left: 60.81%;
right: 20%;
top: 42.48%;
bottom: 38.33%;

background: #ffffff;

/* Vector */

position: absolute;
left: 43.33%;
right: 23.33%;
top: 10%;
bottom: 86.67%;

background: #ffffff;

/* Vector */

position: absolute;
left: 38.33%;
right: 18.33%;
top: 16.67%;
bottom: 80%;

background: #ffffff;

/* Vector */

position: absolute;
left: 28.33%;
right: 61.67%;
top: 51.67%;
bottom: 45%;

background: #ffffff;

/* Vector */

position: absolute;
left: 28.33%;
right: 65%;
top: 58.33%;
bottom: 38.33%;

background: #ffffff;

/* numbers__item */

position: absolute;
width: 141px;
height: 50px;
left: 785px;
top: 1159px;

/* Group */

position: absolute;
width: 71px;
height: 44px;
left: 855px;
top: 1162px;

/* 40+ */

position: absolute;
width: 36px;
height: 19px;
left: 855px;
top: 1162px;

/* h3 */
font-family: "Roboto";
font-style: normal;
font-size: 21px;
line-height: 25px;

color: #ffffff;

/* проектов */

position: absolute;
width: 71px;
height: 15px;
left: 855px;
top: 1191px;

/* p */
font-family: "Roboto";
font-style: normal;
font-size: 16px;
line-height: 26px;

color: #ffffff;

/* project */

position: absolute;
width: 50px;
height: 50px;
left: 785px;
top: 1159px;

/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Vector */

position: absolute;
left: 6.67%;
right: 0%;
top: 0%;
bottom: 0%;

background: #ffffff;

/* Vector */

position: absolute;
left: 0%;
right: 36.67%;
top: 30%;
bottom: 53.33%;

background: #ffffff;

/* Vector */

position: absolute;
left: 36.67%;
right: 10%;
top: 18.33%;
bottom: 28.33%;

background: #ffffff;

/* Vector */

position: absolute;
left: 60.81%;
right: 20%;
top: 42.48%;
bottom: 38.33%;

background: #ffffff;

/* Vector */

position: absolute;
left: 43.33%;
right: 23.33%;
top: 10%;
bottom: 86.67%;

background: #ffffff;

/* Vector */

position: absolute;
left: 38.33%;
right: 18.33%;
top: 16.67%;
bottom: 80%;

background: #ffffff;

/* Vector */

position: absolute;
left: 28.33%;
right: 61.67%;
top: 51.67%;
bottom: 45%;

background: #ffffff;

/* Vector */

position: absolute;
left: 28.33%;
right: 65%;
top: 58.33%;
bottom: 38.33%;

background: #ffffff;

/* numbers__item */

position: absolute;
width: 141px;
height: 50px;
left: 975px;
top: 1159px;

/* Group */

position: absolute;
width: 71px;
height: 44px;
left: 1045px;
top: 1162px;

/* 40+ */

position: absolute;
width: 36px;
height: 19px;
left: 1045px;
top: 1162px;

/* h3 */
font-family: "Roboto";
font-style: normal;
font-size: 21px;
line-height: 25px;

color: #ffffff;

/* проектов */

position: absolute;
width: 71px;
height: 15px;
left: 1045px;
top: 1191px;

/* p */
font-family: "Roboto";
font-style: normal;
font-size: 16px;
line-height: 26px;

color: #ffffff;

/* project */

position: absolute;
width: 50px;
height: 50px;
left: 975px;
top: 1159px;

/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Vector */

position: absolute;
left: 6.67%;
right: 0%;
top: 0%;
bottom: 0%;

background: #ffffff;

/* Vector */

position: absolute;
left: 0%;
right: 36.67%;
top: 30%;
bottom: 53.33%;

background: #ffffff;

/* Vector */

position: absolute;
left: 36.67%;
right: 10%;
top: 18.33%;
bottom: 28.33%;

background: #ffffff;

/* Vector */

position: absolute;
left: 60.81%;
right: 20%;
top: 42.48%;
bottom: 38.33%;

background: #ffffff;

/* Vector */

position: absolute;
left: 43.33%;
right: 23.33%;
top: 10%;
bottom: 86.67%;

background: #ffffff;

/* Vector */

position: absolute;
left: 38.33%;
right: 18.33%;
top: 16.67%;
bottom: 80%;

background: #ffffff;

/* Vector */

position: absolute;
left: 28.33%;
right: 61.67%;
top: 51.67%;
bottom: 45%;

background: #ffffff;

/* Vector */

position: absolute;
left: 28.33%;
right: 65%;
top: 58.33%;
bottom: 38.33%;

background: #ffffff;

/* numbers__item */

position: absolute;
width: 141px;
height: 50px;
left: 1165px;
top: 1159px;

/* Group */

position: absolute;
width: 71px;
height: 44px;
left: 1235px;
top: 1162px;

/* 40+ */

position: absolute;
width: 36px;
height: 19px;
left: 1235px;
top: 1162px;

/* h3 */
font-family: "Roboto";
font-style: normal;
font-size: 21px;
line-height: 25px;

color: #ffffff;

/* проектов */

position: absolute;
width: 71px;
height: 15px;
left: 1235px;
top: 1191px;

/* p */
font-family: "Roboto";
font-style: normal;
font-size: 16px;
line-height: 26px;

color: #ffffff;

/* project */

position: absolute;
width: 50px;
height: 50px;
left: 1165px;
top: 1159px;

/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Vector */

position: absolute;
left: 6.67%;
right: 0%;
top: 0%;
bottom: 0%;

background: #ffffff;

/* Vector */

position: absolute;
left: 0%;
right: 36.67%;
top: 30%;
bottom: 53.33%;

background: #ffffff;

/* Vector */

position: absolute;
left: 36.67%;
right: 10%;
top: 18.33%;
bottom: 28.33%;

background: #ffffff;

/* Vector */

position: absolute;
left: 60.81%;
right: 20%;
top: 42.48%;
bottom: 38.33%;

background: #ffffff;

/* Vector */

position: absolute;
left: 43.33%;
right: 23.33%;
top: 10%;
bottom: 86.67%;

background: #ffffff;

/* Vector */

position: absolute;
left: 38.33%;
right: 18.33%;
top: 16.67%;
bottom: 80%;

background: #ffffff;

/* Vector */

position: absolute;
left: 28.33%;
right: 61.67%;
top: 51.67%;
bottom: 45%;

background: #ffffff;

/* Vector */

position: absolute;
left: 28.33%;
right: 65%;
top: 58.33%;
bottom: 38.33%;

background: #ffffff;

/* numbers__item */

position: absolute;
width: 141px;
height: 50px;
left: 1355px;
top: 1159px;

/* Group */

position: absolute;
width: 71px;
height: 44px;
left: 1425px;
top: 1162px;

/* 40+ */

position: absolute;
width: 36px;
height: 19px;
left: 1425px;
top: 1162px;

/* h3 */
font-family: "Roboto";
font-style: normal;
font-size: 21px;
line-height: 25px;

color: #ffffff;

/* проектов */

position: absolute;
width: 71px;
height: 15px;
left: 1425px;
top: 1191px;

/* p */
font-family: "Roboto";
font-style: normal;
font-size: 16px;
line-height: 26px;

color: #ffffff;

/* project */

position: absolute;
width: 50px;
height: 50px;
left: 1355px;
top: 1159px;

/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Vector */

position: absolute;
left: 6.67%;
right: 0%;
top: 0%;
bottom: 0%;

background: #ffffff;

/* Vector */

position: absolute;
left: 0%;
right: 36.67%;
top: 30%;
bottom: 53.33%;

background: #ffffff;

/* Vector */

position: absolute;
left: 36.67%;
right: 10%;
top: 18.33%;
bottom: 28.33%;

background: #ffffff;

/* Vector */

position: absolute;
left: 60.81%;
right: 20%;
top: 42.48%;
bottom: 38.33%;

background: #ffffff;

/* Vector */

position: absolute;
left: 43.33%;
right: 23.33%;
top: 10%;
bottom: 86.67%;

background: #ffffff;

/* Vector */

position: absolute;
left: 38.33%;
right: 18.33%;
top: 16.67%;
bottom: 80%;

background: #ffffff;

/* Vector */

position: absolute;
left: 28.33%;
right: 61.67%;
top: 51.67%;
bottom: 45%;

background: #ffffff;

/* Vector */

position: absolute;
left: 28.33%;
right: 65%;
top: 58.33%;
bottom: 38.33%;

background: #ffffff;
/*  */
