/* skills */

position: absolute;
width: 1150px;
height: 450px;
left: 386px;
top: 1411px;

/* Rectangle 3 */

position: absolute;
width: 555px;
height: 450px;
left: 981px;
top: 1411px;

background: url(photo-1508908324153-d1a219719814.jpg), #c4c4c4;

/* skills__list */

position: absolute;
width: 445px;
height: 257px;
left: 386px;
top: 1513px;

/* Мои навыки */

position: absolute;
width: 403px;
height: 30px;
left: 386px;
top: 1513px;

/* h2 */
font-family: "Roboto";
font-style: normal;
font-size: 32px;
line-height: 38px;

color: #000000;

/* Rectangle 4 */

position: absolute;
width: 445px;
height: 4px;
left: 386px;
top: 1628px;

background: #c4c4c4;

/* Rectangle 4.1 */

position: absolute;
width: 349.36px;
height: 4px;
left: 386px;
top: 1627.88px;

/* Accent */
background: #34547a;
transform: rotate(-0.06deg);

/* Adobe Photoshop */

position: absolute;
width: 128px;
height: 15px;
left: 387px;
top: 1593px;

/* p */
font-family: "Roboto";
font-style: normal;
font-size: 16px;
line-height: 26px;

color: #727272;

/* Rectangle 4.2 */

position: absolute;
width: 445px;
height: 4px;
left: 386px;
top: 1697px;

background: #c4c4c4;

/* Rectangle 4.3 */

position: absolute;
width: 350px;
height: 4px;
left: 386px;
top: 1697px;

/* Accent */
background: #34547a;

/* Adobe Photoshop */

position: absolute;
width: 128px;
height: 15px;
left: 387px;
top: 1662px;

/* p */
font-family: "Roboto";
font-style: normal;
font-size: 16px;
line-height: 26px;

color: #727272;

/* Rectangle 4.4 */

position: absolute;
width: 445px;
height: 4px;
left: 386px;
top: 1766px;

background: #c4c4c4;

/* Rectangle 4.5 */

position: absolute;
width: 350px;
height: 4px;
left: 386px;
top: 1766px;

/* Accent */
background: #34547a;

/* Adobe Photoshop */

position: absolute;
width: 128px;
height: 15px;
left: 387px;
top: 1731px;

/* p */
font-family: "Roboto";
font-style: normal;
font-size: 16px;
line-height: 26px;

color: #727272;
/*  */

/*  */
