/* video */

position: absolute;
width: 1920px;
height: 1004px;
left: 0px;
top: 1962px;

/* Rectangle 9 */

position: absolute;
width: 1920px;
height: 1004px;
left: 0px;
top: 1962px;

/* Silver */
background: #eeeff1;

/* Rectangle 5 */

position: absolute;
width: 1110px;
height: 600px;
left: 405px;
top: 2266px;

background:
  linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
  url(photo-1514070706115-47c142769603.jpg);

/* play-button */

position: absolute;
width: 100px;
height: 100px;
left: 910px;
top: 2516px;

/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #ffffff;

/* video__title */

position: absolute;
width: 540px;
height: 147px;
left: 690px;
top: 2062px;

/* Как я работаю */

position: absolute;
width: 403px;
height: 30px;
left: 758px;
top: 2062px;

/* h2 */
font-family: "Roboto";
font-style: normal;
font-size: 32px;
line-height: 38px;
text-align: center;

color: #000000;

/* Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. */

position: absolute;
width: 540px;
height: 67px;
left: 690px;
top: 2142px;

/* p */
font-family: "Roboto";
font-style: normal;
font-size: 16px;
line-height: 26px;
text-align: center;

color: #727272;
/*  */
/*  */
