/* WD */

position: absolute;
width: 96px;
height: 60px;
left: 402px;
top: 50px;

font-family: "Revalia";
font-style: normal;
font-size: 48px;
line-height: 60px;
/* identical to box height */
text-align: center;

color: #34547a;

/* first-screen__menu */

position: absolute;
width: 611px;
height: 16px;
left: 896px;
top: 72px;

/* ГЛАВНАЯ */

position: absolute;
width: 84px;
height: 12px;
left: 896px;
top: 72px;

font-family: "Roboto";
font-style: normal;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.1em;

/* Accent */
color: #34547a;

/* ОБ АВТОРЕ */

position: absolute;
width: 100px;
height: 16px;
left: 1022px;
top: 72px;

font-family: "Roboto";
font-style: normal;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.1em;

color: #000000;

/* РАБОТЫ */

position: absolute;
width: 74px;
height: 16px;
left: 1164px;
top: 72px;

font-family: "Roboto";
font-style: normal;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.1em;

color: #000000;

/* ПРОЦЕСС */

position: absolute;
width: 86px;
height: 16px;
left: 1280px;
top: 72px;

font-family: "Roboto";
font-style: normal;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.1em;

color: #000000;

/* КОНТАКТЫ */

position: absolute;
width: 99px;
height: 16px;
left: 1408px;
top: 72px;

font-family: "Roboto";
font-style: normal;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.1em;

color: #000000;

/* first-screen__button */

position: absolute;
width: 225px;
height: 65px;
left: 975px;
top: 482px;

/* Rectangle 2 */

position: absolute;
width: 225px;
height: 65px;
left: 975px;
top: 482px;

background: #34547a;

/* НАПИСАТЬ МНЕ */

position: absolute;
width: 143px;
height: 15px;
left: 1016px;
top: 507px;

font-family: "Roboto";
font-style: normal;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.1em;

color: #ffffff;
/*  */
/*  */
/*  */
/* first-screen */

position: absolute;
width: 1920px;
height: 700px;
left: 0px;
top: -7px;

/* Rectangle */

position: absolute;
width: 1920px;
height: 700px;
left: 0px;
top: -7px;

background: #eeeff1;

/* Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. */

position: absolute;
width: 540px;
height: 67px;
left: 975px;
top: 355px;

/* p */
font-family: "Roboto";
font-style: normal;
font-size: 16px;
line-height: 26px;

color: #727272;

/* Дизайн и верстка */

position: absolute;
width: 541px;
height: 45px;
left: 974px;
top: 250px;

font-family: "Roboto";
font-style: normal;
font-size: 48px;
line-height: 79px;

color: #000000;
