html {
  box-sizing: border-box;
}
*,
*::after,
::before {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a > i[class^="icon-"]:before,
a > i[class*=" icon-"]:before {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--main-back__color);
}
:root {
  --accent-back__color: #34547a;
  --silver-back__color: #eeeff1;
  --main-back__color: #e5e5e5;
  --color-text__p: #727272;
  --color-text__darck: #000;
}
img {
  display: block;
  max-width: 100%;
}
.text-color__black {
  color: var(--color-text__darck);
}
.text-p {
  font-weight: 500;
  font-size: 14px;
  color: var(--color-text__p);
}
.text-h2 {
  font-weight: 500;
  font-size: 32px;
  color: var(--color-text__darck);
}
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}
/* modal */
.first-modal {
  display: none;
  background-color: rgb(141 137 137 / 89%);
  text-align: center;
  padding-top: 20px;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 10;
}
.first-modal__p {
  font-weight: 500;
  color: #000;
  font-size: 25px;
  margin-bottom: 25px;
}
.first-modal-mesage {
  display: block;
  resize: none;
  width: 80%;
  height: calc(100% - 160px);
  padding: 20px;
  margin: 0 auto;
  font-size: 15px;
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: auto;
}
.first-modal__buttons {
  display: flex;
  justify-content: center;
}
.first-modal__btn {
}
.first-modal__btn:hover {
  background: var(--accent-back__color);
  color: #fff;
}
.clouse__btn,
.send__btn {
  width: 100px;
  height: 36px;
  border-radius: 5px;
}
.clouse__btn {
  margin-right: 20px;
}
/* header */
.header {
  background-color: var(--silver-back__color);
}
.first-screen {
  padding-top: 37px;
  padding-bottom: 117px;
  padding-left: 185px;
}
.header-box-menu__flex {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 105px;
  padding-left: 340px;
  padding-top: 37px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  background-color: var(--silver-back__color);
}
.header-text__h1 {
  font-family: "Revalia", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 41px;
  color: #34547a;
  margin-left: -87px;
  padding-right: 318px;
  text-transform: uppercase;
}
.header-menu__flex {
  display: flex;
}
ul.header-menu__flex {
  list-style: none;
}
.header-menu__item {
}
.header-menu__item a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  line-height: 180%;
}
.header-menu__item a:hover {
  font-weight: 600;
  box-shadow: 0px 5px 5px rgba(114, 114, 114, 0.5);
}
ul.header-menu__flex li {
  margin-right: 37px;
}
ul.header-menu__flex li:last-child {
  margin-right: 0px;
}
/* 2 часть блока */
.design-flex {
  display: flex;
  padding-top: 105px;
}
.design-flex__h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 164%;
  color: #000;
  margin-bottom: 28px;
  margin-top: -5px;
}
.design-flex__btn {
  width: 183px;
  height: 53px;
  letter-spacing: 0.1em;
}
.btn {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: var(--accent-back__color);
  border-radius: 4px;
  transition: all 0.2s;
  border: 2px solid #434242;
}
.btn:hover {
  box-shadow: 5px 10px 7px 3px grey;
  background-color: rgb(4, 164, 177);
}
.design-block {
  padding-left: 100px;
}
.design-flex-img {
  max-width: 284.2px;
  max-height: 209.1px;
  padding-top: 21px;
}
.design-flex__text {
  max-width: 453px;
  line-height: 1.4em;
  font-size: 14px;
  margin-bottom: 43px;
}
/* about-me */
.about-me {
  padding-top: 90px;
  padding-bottom: 68px;
}
.about-me_h2 {
  text-align: center;
  margin-bottom: 27px;
}
.about-me__text {
  max-width: 540px;
  min-height: 67px;
  line-height: 164%;
  text-align: center;
  margin: 0 auto;
}
/* numbers */
.numbers {
  min-height: 250px;
  background-color: var(--accent-back__color);
}
.numbers-flex {
  padding-top: 81px;
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
}
.numbers-flex img {
  width: 141px;
  height: 50px;
}
/* skills */
.skills {
}
.skills-flex {
  max-width: 1150px;
  margin: 0 auto;
  padding-top: 102px;
  padding-bottom: 101px;
  display: flex;
}
.skills-list {
  min-width: 600px;
  padding-top: 102px;
  padding-bottom: 91px;
  padding-right: 150px;
}
.skills-h2 {
  margin-bottom: 50px;
}
.skills__p {
  margin-bottom: 20px;
  margin-top: 50px;
}
.skills-box__photo {
  max-width: 555px;
  max-height: 450px;
}
.skills-img {
}
.box-line1,
.box-line2,
.box-line3 {
  position: relative;
}
.box-line__border {
  position: absolute;
  top: 0;
  left: 0;
}
.line1 {
  width: 66%;
  height: 4px;
  z-index: 1;
  background-color: var(--accent-back__color);
}
.line2 {
  width: 86%;
  height: 4px;
  z-index: 0;
  background-color: #c4c4c4;
}
/* video */
.video {
  background-color: var(--silver-back__color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.video-info {
}
.vedeo__h2 {
  text-align: center;
  margin-bottom: 50px;
}
.video__p {
  max-width: 540px;
  margin: 0 auto 57px;
  text-align: center;
  line-height: 164%;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-text__p);
}
.box__video {
  max-width: 1110px;
  height: 600px;
}
/* projects */
.projects {
  background-color: #fff;
}
.projects-box {
  padding-top: 28px;
}
.project__h2 {
  text-align: center;
  padding-bottom: 15px;
}
.projects-grid {
  background-color: var(--color-text__p);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.projects-grid__item {
  position: relative;
  width: 100%;
  padding-top: 100%; /*исп.отступ для соотнош-стор и для раб.изобр */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition:
    transform 0.8s,
    background-size 0.8s,
    border 0.8s,
    opacity 0.8s;
}
.item1,
.item6,
.item8 {
  background-image: url(../img/Mein\ Project1.JPG);
}
.item2 {
  background-image: url(../img/My\ project_2.JPG);
}
.item3 {
  background-image: url(../img/project_3_Konstruct.JPG);
}
.item4 {
  background-image: url(../img/project_4_Alivio.JPG);
}
.item5,
.item7 {
  background-image: url(../img/Project\ img2.jpg);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/Group-eye.png);
  background-color: rgba(114, 114, 114, 0.5);
  z-index: 0;
  background-position: 20% 20%;
  background-repeat: no-repeat;
  transition:
    transform 0.8s,
    background-size 0.8s,
    border 0.8s,
    opacity 0.8s;
  /* transition: all 0.8s; */
}
.projects-grid__item:hover .overlay {
  opacity: 0;
}
.projects-grid__item:hover {
  transform: scale(1.3);
  z-index: 1;
  background-size: 150%;
  border: 5px solid var(--accent-back__color);
  border-radius: 4px;
}
/* clients */
.clients-box {
  display: flex;
  justify-content: space-between;
  padding-top: 72px;
  padding-bottom: 100px;
}
.clients {
}
/* form */
.form {
  background: #eeeff1;
}
.form__h2 {
  text-align: center;
  padding-bottom: 50px;
}
.form__p {
  font-weight: 400;
  font-size: 16px;
  line-height: 164%;
  text-align: center;
  color: var(--color-text__p);
  padding-bottom: 65px;
}
.form-box {
  max-width: 540px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
}
.form-text__flex {
  display: flex;
  justify-content: space-between;
}
.text__flex-item {
  width: 255px;
  height: 50px;
  padding: 10px;
  margin-bottom: 20px;
}
.form__message {
  width: 100%;
  padding: 10px;
  margin-bottom: 50px;
  resize: none;
}
.form-btn {
  width: 190px;
  height: 55px;
  font-weight: 400;
  font-size: 14px;
  line-height: 164%;
  letter-spacing: 0.15em;
}
/* footer */
.footer {
  background-color: var(--accent-back__color);
}
.footer-flex {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
}
.footer-flex__item1 {
}
.text-p {
}
.footer__p1 {
  font-weight: 500;
  font-size: 21px;
  color: #fff;
  padding-bottom: 21px;
}
.footer__p2 {
  font-weight: 400;
  font-size: 13px;
  line-height: 164%;
  color: #fff;
}
.footer-flex__item2 {
  position: relative;
}
.footer-icon {
  display: inline-block;
  color: #fff;
  font-size: 40px;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}
.footer-icon:hover {
  transform: scale(1.2);
  color: #03f5f9;
}

.footer-flex__item2 a {
  margin-right: 35px;
  text-decoration: none;
  color: #fff;
}
.footer-flex__item2 a:last-child {
  margin-right: 0px;
}

.footer__h2 {
  font-weight: 500;
  text-align: center;
  color: #fff;
  padding-bottom: 10px;
  font-size: 28px;
}
.footer__line {
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin-bottom: 10px;
}
