/* ОБЩИЕ НАТРОЙКИ НАЧАЛО */
html {
  box-sizing: border-box;
}
*,
*::after,
::before {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
p,
a > i[class^="icon-"]:before,
a > i[class*=" icon-"]:before {
  margin: 0;
  padding: 0;
}
body {
  background: #41d7fd;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--main-back__color);
}
:root {
  --accent-back__color: #34547a;
  --silver-back__color: #eeeff1;
  --main-back__color: #e5e5e5;
  --color-text__p: #727272;
  --color-text__darck: #000;
}
img {
  display: block;
  max-width: 100%;
}
.text-color__black {
  color: var(--color-text__darck);
}
.text-p {
  font-weight: 500;
  font-size: 14px;
  color: var(--color-text__p);
}
.text-h2 {
  font-weight: 500;
  font-size: 32px;
  color: var(--color-text__darck);
}
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}
.section {
  width: 1920px;
}
/* ОБЩИЕ НАТРОЙКИ КОНЕЦ */

/* НАЧАЛО: РАЗМЕР СЕКЦИЙ*/
.testSite {
  height: 5160px;
}
.first-screen {
  height: 693px;
  background-color: #eeeff1;
}
.about-me {
  height: 366px;
  background: #ffffff;
}
.numbers {
  height: 250px;
  background: #34547a;
}
.skills {
  height: 650px;
  background: #ffffff;
}
.video {
  height: 1004px;
  background: #eeeff1;
}
.empty {
  height: 30px;
  background: #ffffff;
}
.projects {
  height: 960px;
  background: #09e74c;
}
.clients {
  height: 300px;
  background: #ffffff;
}
.form {
  height: 755px;
  background: #eeeff1;
}
.footer {
  height: 151px;
  background: #34547a;
}

/* КОНЕЦ: РАЗМЕР СЕКЦИЙ*/

/* НАЧАЛО:  Main Header  first-screen */

.box-inner {
display: flex;
flex-wrap: wrap;
}
.box {
width: 18%;
height: 693px;

}
.box2 {
width: 62%;
height: 693px;
color: #000;
margin: 0;
padding: 0;
}
.container-fluid {
  padding-top: 40px;
}
ul.menu-inline {
margin-top: 20px;
 padding: 0; /* Значение полей */
}
ul.menu-inline li {
   display: inline;/* Отображать как строчный элемент */
 margin-right: 5px; /* Отступ справа*/
 padding-left: 34px;
}
.nav_text {
font-family: "Revalia";
font-style: normal;
font-size: 48px;
line-height: 60px;
/* identical to box height */
text-align: center;
/* Accent */
color: #34547a;
text-decoration: none;
padding-left: 35px;
}
.nav_text1 {
font-family: "Roboto";
font-style: normal;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.1em;

/* Accent */
color: #34547a;
text-decoration: none;
text-transform: uppercase;
}
.nav_text2 {
font-family: "Roboto";
font-style: normal;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.1em;

color: #000000;
text-decoration: none;
text-transform: uppercase;
}
.nav-item{
    list-style-type:none;
}
/* 2 часть блока */
.design-block{
  display: flex;
  width: 100%;
  height: 46%;
  margin-top: 120px;
}
.first-screen_monitor {
  width: 357px;
  height: 236px;
  background-color: #eeeff1;
  margin-top: 32px;
  margin-left: 140px;
}

.design-block_textH2 {
  width: 541px;
  height: 45px;
  margin-left: 130px;
}
.textH2 {
font-family: "Roboto";
font-style: normal;
font-size: 48px;
line-height: 79px;

color: #000000;
}
.p_w_h {
  margin: 0;
  padding: 0;
width: 525px;
  height: 70px;
}
.text-p{
font-family: "Roboto";
font-style: normal;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.04em;
margin-top: 32px;

color: #727272;
}
.design-block_button {
width: 225px;
height: 65px;
margin-top: 62px;

font-family: "Roboto";
font-style: normal;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
}

/* КОНЕЦ:  Main Header  first-screen */

/* НАЧАЛО:  about-me */
.about-me_text1 {
  font-family: "Roboto";
  font-style: normal;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  padding-top: 118px;
}
.about-me_text2 {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0 05rem;
  color: #727272;
  width: 560px;
  height: 62px;
  padding-top: 37px;
  margin: 0 auto;
}
/* КОНЕЦ:  about-me */

/*  НАЧАЛО: numbers */
.numbers-items-flex{
  width: 62%;
  display: flex;
  padding-top: 100px;
margin-left: 94px;
gap: 49px;
}
.numbers-flex {
  display: flex;
width: 141px;
height: 60px;

}
.numbers-img {
width: 50px;
height: 50px;
}
.numbers_text {
  margin-left: 20px;
  margin-top: 3px;
}
.numbers_text1{
font-family: "Roboto";
font-style: normal;
font-size: 21px;
line-height: 25px;
}
.numbers_text2{
font-family: "Roboto";
font-style: normal;
font-size: 16px;
line-height: 26px;

color: #ffffff;
}
/* КОНЕЦ:  numbers  */


/* НАЧАЛО:  video    */


/* КОНЕЦ:  video  */

/* НАЧАЛО:  projects   */
.projects_logo {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.projects_logo-item {
  position: relative;
  width: 100%;
  padding-top: 100%; /*исп.отступ для соотнош-стор и для раб.изобр */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition:
    transform 0.8s,
    background-size 0.8s,
    border 0.8s,
    opacity 0.8s;
}
.item1,
.item3,
.item6,
.item8 {
  background-image: url(../img/projects1.svg);
}
.item2 {
  background-image: url(../img/projects2.svg);
}
.item4,
.item5,
.item7 {
  background-image: url(../img/projects4.svg);
}
.overlay {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 100%;
  height: 100%;
  background: url(../img/Group-eye.png);
  /* background-color: rgba(114, 114, 114, 0.5); */
  z-index: 0;
  background-position: 20% 20%;
  background-repeat: no-repeat;
  transition:
    transform 0.8s,
    background-size 0.8s,
    border 0.8s,
    opacity 0.8s;
  /* transition: all 0.8s; */
}
.projects_logo-item:hover .overlay {
  opacity: 0;
}
.projects_logo-item:hover {
  transform: scale(1.3);
  z-index: 1;
  background-size: 150%;
  border: 5px solid var(--accent-back__color);
  border-radius: 4px;
}
/* КОНЕЦ:  projects  */

/* НАЧАЛО:  clients   */
.clients_logo {
  display: flex;
  padding-top: 72px;
  padding-left: 405px;
  gap: 30px;
}
.clients_img {
  width: 255px;
  height: 120px;
}
/* КОНЕЦ:   clients */

/* НАЧАЛО:  form   */
.form__title {
  position: absolute;
  width: 540px;
  margin-left: 690px;
  margin-top: 100px;
}
.form_title-h2 {
  font-family: "Roboto";
  font-style: normal;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
}
.form_title-p {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
  margin-top: 50px;
}
.form__inputs {
  display: flex;
  gap: 30px;
}
.form_Your-name {
  margin-top: 60px;
}
.form__inputs-name {
  width: 255px;
  height: 50px;
  padding-left: 20px;
}
.form_e-mail {
  margin-top: 60px;
}
.form__inputs_e-mail {
  width: 255px;
  height: 50px;
  padding-left: 20px;
}
.form_text {
  margin-top: 20px;
}
.form_text-message {
  width: 540px;
  height: 175px;
  padding-left: 20px;
  padding-top: 20px;
  color: #5f5d5d;
}
/* КОНЕЦ:   form  */

/* НАЧАЛО: footer  */

.footer_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer_flex-left {
  display: flex;
  flex-direction: column;
}
.footer-text_h3 {
  font-family: "Roboto";
  font-style: normal;
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
  width: 130px;
  height: 19px;
  margin-top: 50px;
  margin-left: 406px;
}
.footer-text_p {
  font-family: "Roboto";
  font-style: normal;
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
  margin-top: 20px;
  margin-left: 406px;
}
.footer_flex-right {
  width: 175px;
  height: 40px;
  margin-top: 56px;
  margin-right: 389px;
}
.footer__soc-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-between;
}
.vk-social-network-logo {
  width: 43.75px;
  height: 40px;
}

/* modal */
.first-modal {
  display: none;
  background-color: rgb(141 137 137 / 89%);
  text-align: center;
  padding-top: 20px;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 10;
}
.first-modal__p {
  font-weight: 500;
  color: #000;
  font-size: 25px;
  margin-bottom: 25px;
}
.first-modal-message {
  display: block;
  resize: none;
  width: 80%;
  height: calc(100% - 160px);
  padding: 20px;
  margin: 0 auto;
  font-size: 15px;
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: auto;
}
.first-modal__buttons {
  display: flex;
  justify-content: center;
}

.first-modal__btn:hover {
  background: var(--accent-back__color);
  color: #fff;
}
.close__btn,
.send__btn {
  width: 100px;
  height: 36px;
  border-radius: 5px;
}
.close__btn {
  margin-right: 20px;
}

/* КОНЕЦ:  footer  */

/*НАЧАЛО bootstrap */
@media screen and (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
  width: 100%;
}

@media screen and (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}
.nav-link:hover,
.nav-link:focus {
  color: var(--bs-nav-link-hover-color);
}
.nav-link:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.nav-link.disabled,
.nav-link:disabled {
  color: var(--bs-nav-link-disabled-color);
  pointer-events: none;
  cursor: default;
}
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
  --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
  --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
  --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-nav-link-padding-x: 0.5rem;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1.25rem;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
  --bs-navbar-toggler-border-radius: var(--bs-border-radius);
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-sm,
.navbar > .container-md,
.navbar > .container-lg,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
.navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: var(--bs-navbar-brand-font-size);
  color: var(--bs-navbar-brand-color);
  text-decoration: none;
  white-space: nowrap;
}
.navbar-brand:hover,
.navbar-brand:focus {
  color: var(--bs-navbar-brand-hover-color);
}
/*КОНЕЦ bootstrap */
